.cartContainer{
    display: inline-block;
}

.boxBorder {
    box-shadow: 5px 5px 10px black;
  }

.cart {
    min-width: 700px;
    text-align: center;
    color: white;
}
  
/* cart header */
.cart-header {  
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}
  
/* cart items */
.cart-items {
    max-height: calc(100vh - 247px);
    overflow-y: auto;
    overflow-x: hidden;
}
  
/* cart item */
.cart-item {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.cart-item div {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* item info */
.cart-item .item-info {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.6);

    border-radius: 0 10px 10px 0;

    padding: 10px;
}
.cart-item .item-info:hover {
    background-color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
}
.cart-item .item-info img {
    width: 75px;
}
/* unit price */
.cart-item .unit-price {
    flex: 1;
    font-size: 1.5rem;
}

.column1 {
    font-size: 1.3rem;
}

.cart-footer div {
    align-items: center;
    padding: 15px 0;
    font-size: 1.3rem;
    width: 100%;
    color: black;
}

.cart-footer .subtotal {
    background-color: white;
    display: flex;
    justify-content: center;
}

.cart-footer .checkout {
    background-color: #F2CC8F;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #111;
    background: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}