.cart-container{
    display: inline-block;
}

.box-border {
    box-shadow: 5px 5px 10px black;
}

.cart {
    min-width: 700px;
    text-align: center;
    color: white;
}

.cart-name{
    background-color: #2d2d2d;
}

/* cart header */
.cart-header {  
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-right: 55px;
}

.column1 {
    font-size: 1.3rem;
}

/* cart items */
.cart-items {
    max-height: calc(100vh - 247px);
    overflow-y: auto;
    overflow-x: hidden;
}
  
/* cart item */
.cart-item {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.cart-item div {
    /*display: flex;*/
    display: inline-block;
    align-items: center;
    justify-content: center;
}
/* item info */
.cart-item .item-info {
    flex: 1;
    display: flex;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}

.cart-item .item-info img {
    width: 125px;
}

.item-info-elemnt{
    padding: 0px 10px;
}

/* unit price */
.unit-price {
    flex: 1;
    font-size: 1.4rem;
    position:relative;
}

.unit-price p {
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 20px; /*requires explicit height*/
}

.remove-btn-container{
    flex: 0.1;
    justify-content: center;
    background-color: transparent;
    border: transparent;
    margin: 25px;
}

.remove-btn {
    width: 2em;
    height: 2em;
    padding: 2px;
    background-color: transparent;
}

.cart-item .remove-btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
}

.cart-footer {
    color: white;
    background-color: #2d2d2d;
    display: flex;
    padding: 15px 0;
    justify-content: center;
    font-size: 1.3rem;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    background: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e4554f;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}