.btn{
    padding: 8px 20px;
    color: white;
    max-width: 150px;
    background-color: #e4554f;
    border-radius:  4px; 
    border: none;
    margin: 5px 15px;
    cursor: pointer;
    transition:  all 0.15s ease-in;
    text-decoration: none;
}
  
.btn:hover{
    background-color:rgb(15, 97, 205);
   
}