.container{
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

.section{
    color: white;
    display: flex;
    margin: 15px auto;
    text-align: start;
    max-width: 1200px;
}